.styled {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }

  & * {
    color: var(--blue);
  }

  &_delete * {
    color: var(--error);
  }
}
