.input {
	width: 100%;
	min-height: 60px;
	padding: 19px 20px;
	border: 1px solid var(--light-gray);
	background: var(--white);
	border-radius: 8px;
	cursor: text;
	transition: 0.2s;

	&:hover {
		border: var(--gray);
		transition: 0.2s;
	}

	&:focus {
		border: var(--blue);
		transition: 0.2s;
	}
}

.wrapper {
	position: relative;
}

.icon {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
