.closer-enter {
  opacity: 0;
}
.closer-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.closer-exit {
  opacity: 1;
}
.closer-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
